$green: #1bbb8b;
$green-dark: #1bbb8bb9;
$green-darker: #336662;
$green-darkest: #082f33;

$black: #000;
$white: white;
$gray-light: #f5f5f5;
$gray: #bfbfbf;
$transparent: transparent;

$border-color-gray: #dcdfe6;

$font-roboto: "Roboto", sans-serif;
$font-roboto-mono: "Roboto Mono", sans-serif;

@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap";
/*

    LANDING

*/
@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*

    CLOUDS

*/
/*

    MEDIA QUERIES

*/

.dark {
  $green-darkest: #fff;
}

* {
  font-family: $font-roboto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
li {
  list-style-type: none;
}
strong {
  font-family: $font-roboto-mono;
}
body {
  overflow-x: hidden;
  background-color: $white;
}
section {
  background-color: $white;
}
.navyblue {
  color: $green;
}
.number__section {
  font-size: 24px;
  font-family: $font-roboto-mono;
  color: $green-dark;
  padding: 8px;
}
.container {
  padding: 50px 0;
}
.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}
p {
  line-height: 1.5;
  font-size: 16px;
}
a {
  text-decoration: none;
}
.click {
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(0.8);
  }
  cursor: pointer;
  transition: all 300ms ease;
}
button {
  cursor: pointer;
}
.link__hover-effect {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
    background-color: $green;
  }
  &:hover {
    &:after {
      left: 0;
      width: 100%;
    }
  }
}
.letscreatesomething {
  font-family: $font-roboto-mono;
  color: $green;
  font-size: 18px;
  font-weight: 900;
  transition: all 300ms ease;
  &:hover {
    color: $gray-light;
  }
}
input {
  width: 100%;
  background-color: $green-darkest;
  color: $white;
  outline: none;
  padding: 8px;
  border: 3px solid #1bbb8b;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  border-radius: 4px;
  resize: vertical;
  &::placeholder {
    color: $gray;
  }
  &:hover {
    border-color: $border-color-gray;
  }
  &:focus {
    border-color: $green;
  }
}
textarea {
  width: 100%;
  background-color: $green-darkest;
  color: $white;
  outline: none;
  padding: 8px;
  border: 3px solid #1bbb8b;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  border-radius: 4px;
  resize: vertical;
  height: 80px;
  &::placeholder {
    color: $gray;
  }
  &:hover {
    border-color: $border-color-gray;
  }
  &:focus {
    border-color: $green;
  }
}
.section__title--wrapper {
  display: flex;
}
nav {
  opacity: 1;
  visibility: visible;
  transition: all 400ms 600ms;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  padding: 0 20px;
}
.scroll {
  opacity: 1;
  visibility: visible;
  transition: all 400ms 600ms;
  position: absolute;
  left: 50%;
  bottom: 160px;
  transform: translateX(-50%);
  z-index: 100;
}
.header {
  opacity: 1;
  visibility: visible;
  transition: all 400ms 600ms;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  display: none;
}
#landing-page {
  position: relative;
  min-height: 80vh;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 0 24px;
  margin-top: 40px;
}
.title {
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 12px;
  line-height: 1;
  color: $gray-light;
}
.header__para {
  color: $gray-light;
  max-width: 500px;
}
.social__list {
  margin-top: 16px;
  display: flex;
}
.social__link {
  color: $gray-light;
  font-size: 24px;
  margin-right: 16px;
  z-index: 100;
}
.banner {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner--img {
  width: 100%;
  z-index: 3;
}
.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #1bbb8b;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: "";
    width: 4px;
    height: 6px;
    background-color: $green;
    border-radius: 4px;
    animation: scroll 1000ms infinite alternate-reverse;
  }
}
#personal-logo {
  filter: invert(1);
  width: 50px;
  height: 50px;
}
.nav__link--list {
  display: flex;
}
.nav__link {
  margin: 0 12px;
}
.nav__link--anchor {
  text-decoration: none;
  font-size: 16px;
  color: $gray-light;
  font-weight: 700;
}
.fa-adjust {
  font-size: 20px;
}
.nav__title--label {
  font-size: 28px;
  color: $transparent;
  letter-spacing: 4px;
  -webkit-text-stroke: 1px #1bbb8b;
  transition: all 300ms ease;
  cursor: pointer;
  &:hover {
    color: $green;
    -webkit-text-stroke: none;
  }
}
#aboutme {
  background-color: $green-darker;
  position: relative;
  padding: 50px 0;
  margin-bottom: 100px;
  color: $gray-light;
  &:before {
    background: url("../assets/wave.svg");
    content: "";
    position: absolute;
    width: 100vw;
    height: 12vw;
    overflow-x: hidden;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    top: 1px;
    transform: translateY(-100%) rotate(360deg);
  }
  &:after {
    background: url("../assets/wave.svg");
    content: "";
    position: absolute;
    width: 100vw;
    height: 12vw;
    overflow-x: hidden;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    bottom: 1px;
    transform: translateY(100%) rotate(180deg);
  }
}
.row__aboutme {
  width: 100%;
  max-width: 1100px;
}
.aboutme__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
}
.aboutme__image {
  width: 250px;
}
.aboutme__description--para {
  max-width: 600px;
}
#technoligies {
  margin-top: 160px;
}
.technoligies {
  padding: 0 24px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
  width: 100%;
}
.languages__icon {
  transition: all 400ms ease;
  font-size: 80px;
  color: $green-darker;
  text-align: center;
}
.technoligies__title {
  margin-bottom: 24px;
  text-align: center;
}
.technoligies__image {
  width: 250px;
  background-color: $green-darker;
  box-shadow: 0 0 0 10px #33666296;
  border-radius: 50%;
  padding: 32px;
}
.technoligies__main {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 80px;
}
.technoligies__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.technoligies__language {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  &:hover {
    .languages__icon {
      color: $green;
    }
    .technoligies__name {
      transform: scale(1);
    }
  }
}
.technoligies__name {
  font-weight: 900;
  color: $gray-light;
  margin-top: 4px;
  transform: scale(0);
  transition: all 300ms ease;
  font-family: $font-roboto-mono;
}
.section__title {
  color: $gray-light;
  text-align: left;
  font-size: 48px;
}
.project__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.project {
  width: 48%;
  margin: 16px 0;
  &:hover {
    .project__img {
      transform: scale(1.03);
    }
  }
}
.project__type {
  font-family: $font-roboto-mono;
  color: $green;
  padding: 3px;
}
.project__img {
  width: 100%;
  transition: all 450ms ease;
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.05);
  border-radius: 8px;
}
.project__description {
  margin-top: 12px;
  color: $gray-light;
  max-width: 550px;
}
.project__description--link {
  color: $green-darker;
  font-size: 24px;
  margin-right: 8px;
  transition: all 300ms ease;
  &:hover {
    color: $green;
  }
}
.project__description--title {
  margin-top: 4px;
  font-size: 40px;
}
.project__description--sub-title {
  font-family: $font-roboto-mono;
  margin-top: 8px;
  color: $green-darker;
}
.project__description--para {
  margin: 16px 0;
  color: $gray;
}
footer {
  background-color: $green-darker;
  padding: 4% 0;
  position: relative;
}
.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}
.footer__copyright {
  font-family: $font-roboto-mono;
  position: absolute;
  bottom: 10px;
  color: $gray-light;
}
.footer__copyright--link {
  color: $gray-light;
  transition: all 400ms ease;
  &:hover {
    color: $green-darkest;
  }
}
.getintouch {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.contact {
  display: flex;
  flex-direction: column;
  color: $white;
  width: 100%;
  background-color: $green-darker;
  transition: all 300ms ease-in;
}
.contact__form--wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
}
#contact__form {
  position: relative;
  width: 50%;
}
.contact__form--image {
  margin-top: 20px;
  align-self: center;
  width: 50%;
}
.contact__sub-title {
  font-size: 16px;
  margin-bottom: 32px;
  font-weight: 400;
}
.contact__title {
  font-size: 24px;
}
.form__item {
  margin-bottom: 24px;
  flex-direction: column;
}
.form__submit {
  background-color: $green;
  border: 2px solid #1bbb8b;
  color: $white;
  font-weight: 700;
  width: 100%;
  padding: 12px 12px;
  font-size: 20px;
  border-radius: 4px;
  transition: all 300ms ease;
  &:hover {
    border-color: $white;
    background-color: $transparent;
  }
  &:active {
    border-color: $green;
    color: $green;
  }
}
.contact__overlay--loading {
  display: none;
  text-align: center;
  color: $green-darkest;
  background-color: $green-darker;
  font-size: 80px;
  z-index: 1;
}
.contact__overlay--success {
  display: none;
  color: $gray-light;
  background-color: $green;
  border-radius: 4px;
  width: 350px;
  text-align: center;
  margin: 0 auto;
  padding: 16px;
  margin-bottom: 12px;
  font-size: 24px;
  text-align: center;
}
.contact__overlay--visible {
  z-index: 10;
  display: flex;
}
.fa-spinner {
  animation: spinner 750ms infinite;
}
.cloud {
  position: absolute;
}
.cloud--0 {
  top: 140px;
  left: 60px;
  width: 100px;
}
.cloud--1 {
  bottom: 160px;
  left: 100px;
  z-index: 5;
  width: 80px;
}
.cloud--2 {
  top: 110px;
  right: 60px;
  z-index: 5;
  width: 110px;
}
.cloud--3 {
  bottom: 130px;
  right: 60px;
  width: 110px;
}
.coming__soon--project {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $green;
  font-weight: 700;
  letter-spacing: 3px;
}
@media (max-width: 768px) {
  .technoligies {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .technoligies__main {
    flex-direction: column;
  }
  .technoligies__row--3 {
    display: flex;
  }
  .cloud {
    display: none;
  }
  .scroll {
    bottom: 50px;
  }
  .title {
    font-size: 80px;
  }
  .header__para {
    font-size: 20px;
  }
  .aboutme__wrapper {
    flex-direction: column;
    text-align: center;
  }
  .section__title--wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .technoligies__language--img {
    width: 60px;
  }
  .contact__form--wrapper {
    align-items: center;
    flex-direction: column;
  }
  #contact__form {
    width: 100%;
  }
  .contact__form--image {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .section__title {
    font-size: 40px;
  }
  .title {
    font-size: 42px;
  }
  .header__para {
    font-size: 16px;
  }
  .nav__link {
    &:first-child {
      display: none;
    }
  }
  .project {
    width: 100%;
  }
  .contact {
    padding: 40px;
  }
}
