@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

strong {
    font-family: 'Roboto Mono', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #082f33;
}

section {
    background-color: #082f33;
}

.navyblue {
    color: #1bbb8b;
}

.number__section {
    font-size: 24px;
    font-family: 'Roboto Mono', sans-serif;
    color: #1bbb8bb9;
    padding: 8px;
}

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

.click {
    cursor: pointer;
    transition: all 300ms ease;
}

button {
    cursor: pointer;
}

.link__hover-effect{
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
    background-color: #1bbb8b;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

.letscreatesomething {
    font-family: 'Roboto Mono', sans-serif;
    color: #1bbb8b;
    font-size: 18px;
    font-weight: 900;
    transition: all 300ms ease;
}

.letscreatesomething:hover {
    color: #f5f5f5;
}

input, textarea {
    width: 100%;
    background-color: #082f33;
    color: white;
    outline: none;
    padding: 8px;
    border: 3px solid #1bbb8b;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    border-radius: 4px;
    resize: vertical; 
}

input::placeholder, textarea::placeholder {
    color: #bfbfbf;
}

input:hover, textarea:hover {
    border-color: #dcdfe6;
}

input:focus, textarea:focus {
    border-color: #1bbb8b;
}

textarea {
    height: 80px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

.section__title--wrapper {
    display: flex;
}

nav, .scroll, .header {
    opacity: 1;
    visibility: visible;
    transition: all 400ms 600ms;
}


.contact--open nav, .contact--open .scroll, .contact--open .header {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms 200ms;
}

/* .dark-theme .title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust,
.dark-theme .header__para,
.dark-theme .social__link,
.dark-theme .aboutme__description--para,
.dark-theme .project__description,
.dark-theme .project__description--link
{
    color: white;
    transition: all 300ms ease;
} */

.dark-theme section {
    transition: all 300ms ease;
    background-color: #f5f5f5;
}

.dark-theme #aboutme {
    background-color: #2e2e2e;
}

/*

    LANDING

*/

#landing-page {
    min-height: 100vh;
}

.header {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 0 24px;
}

.title {
    font-size: 56px;
    margin-bottom: 12px;
    line-height: 1;
    color: #f5f5f5;
}

.header__para {
    color: #f5f5f5;
    max-width: 500px;
}

.social__list {
    margin-top: 16px;
    display: flex;
}

.social__link {
    color: #f5f5f5;
    font-size: 24px;
    margin-right: 16px;
}

.banner {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner--img {
    width: 100%;
}

.scroll {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 100;
}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #1bbb8b;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon::after {
    content: "";
    width: 4px;
    height: 6px;
    background-color: #1bbb8b;
    border-radius: 4px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}

/*

    NAVIGATION

*/

#personal-logo {
    filter: invert(1);
    width: 50px;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: #f5f5f5;
    font-weight: 700;
}

.fa-adjust {
    font-size: 20px;
}

.nav__title--label {
    font-weight: 900;
    font-size: 24px;
    color: transparent;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px #1bbb8b;
    transition: all 300ms ease;
    cursor: pointer;
}

.nav__title--label:hover {
    color: #1bbb8b;
    -webkit-text-stroke: none;
}

/*

    ABOUT ME

*/

#aboutme {
    background-color: #336662;
    position: relative;
    padding: 50px 0;
    margin-bottom: 100px;
    color: #f5f5f5;
}

#aboutme:before,
#aboutme:after {
    background: url('../assets/wave.svg');
    content: "";
    position: absolute;
    width: 100vw;
    height: 12vw;
    overflow-x: hidden;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

#aboutme:before {
    top: 1px;
    transform: translateY(-100%) rotate(360deg);
}

#aboutme:after {
    bottom: 1px;
    transform: translateY(100%) rotate(180deg);
}

.row__aboutme {
    width: 100%;
    max-width: 1100px;
}

.aboutme__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
}

.aboutme__image {
    width: 250px;
}

.aboutme__description--para {
    max-width: 600px;
}

/*

    PERSPECTIVE

*/

.perspective {
    width: 20em;
    height: 18em;
    background: url('../assets/memoji.png');
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

/*

    TECHNOLIGIES

*/

#technoligies {
    margin-top: 160px;
}

.technoligies {
    padding: 0 24px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.languages__icon {
    transition: all 400ms ease;
    font-size: 80px;
    color: #336662;
    text-align: center;
}

.technoligies__title {
    margin-bottom: 24px;
    text-align: center;
}

.technoligies__image {
    width: 250px;
    background-color: #336662;
    box-shadow: 0 0 0 10px #33666296; /* OUTLINE DOES NOT WORK ON MOBILE */
    border-radius: 50%;
    padding: 32px;
}

.technoligies__main {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 80px;
}

.technoligies__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.technoligies__language {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}

.technoligies {
    text-align: right;
    width: 100%;
}

.technoligies__name {
    font-weight: 900;
    color: #f5f5f5;
    margin-top: 4px;
    transform: scale(0);
    transition: all 300ms ease;
    font-family: 'Roboto Mono', sans-serif;
}

.technoligies__language:hover .languages__icon {
    color: #1bbb8b;
}

.technoligies__language:hover .technoligies__name {
    transform: scale(1);
}

/*

    PROJECTS

*/

.section__title {
    color: #f5f5f5;
    text-align: left;
    font-size: 48px;
}

.project__list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.project {
    width: 48%;
    margin: 16px 0;
}

.project__type {
    font-family: 'Roboto Mono', sans-serif;
    color: #1bbb8b;
    padding: 3px;
}

.project__img {
    width: 100%;
    transition: all 450ms ease;
    box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.05);
    border-radius: 8px;
}

.project__description {
    margin-top: 12px;
    color: #f5f5f5;
    max-width: 550px;
}

.project__description--link {
    color: #336662;
    font-size: 24px;
    margin-right: 8px;
    transition: all 300ms ease;
}

.project__description--link:hover {
    color: #1bbb8b;
}

.project__description--title {
    margin-top: 4px;
    font-size: 40px;
}

.project__description--sub-title {
    font-family: 'Roboto Mono', sans-serif;
    margin-top: 8px;
    color: #336662;
}

.project__description--para {
    margin: 16px 0;
    color: #bfbfbf;
}

.project:hover .project__img {
    transform: scale(1.03);
}

/*

    FOOTER

*/

footer {
    background-color: #336662;
    padding: 4% 0;
    position: relative;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
}

.footer__copyright {
    font-family: 'Roboto Mono', sans-serif;
    position: absolute;
    bottom: 10px;
    color: #f5f5f5;
}

.footer__copyright--link {
    color: #f5f5f5;
    transition: all 400ms ease;
}

.footer__copyright--link:hover {
    color: #082f33;
}

/*

    CONTACT

*/

.getintouch {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.contact {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    background-color: #336662;
    transition: all 300ms ease-in;
}

.contact__form--wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

#contact__form {
    position: relative;
    width: 50%;
}

.contact__form--image {
    margin-top: 20px;
    align-self: center;
    width: 50%
}


.contact__sub-title {
    font-size: 16px;
    margin-bottom: 32px;
    font-weight: 400;
}

.contact__title {
    font-size: 24px;
}

.form__item {
    margin-bottom: 24px;
    flex-direction: column;
}

.form__submit {
    background-color: #1bbb8b;
    border: 2px solid #1bbb8b;
    color: white;
    font-weight: 700;
    width: 100%;
    padding: 12px 12px;
    font-size: 20px;
    border-radius: 4px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color: white;
    background-color: transparent;
}

.form__submit:active {
    border-color: #1bbb8b;
    color: #1bbb8b;
}

.contact__overlay--loading {
    display: none;
    text-align: center;
    color: #082f33;
    background-color: #336662;
    font-size: 80px;
    z-index: 1;
}

.contact__overlay--success {
    display: none;
    color: #f5f5f5;
    background-color: #1bbb8b;
    border-radius: 4px;
    width: 350px;
    text-align: center;
    margin: 0 auto;
    padding: 16px;
    margin-bottom: 12px;
    font-size: 24px;
    text-align: center;
}

.contact__overlay--visible {
    z-index: 10;
    display: flex;
}

.fa-spinner {
    animation: spinner 750ms infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
    
}

/*

    CLOUDS

*/

.banner {
    position: relative;
}

.banner--img {
    z-index: 3;
}

.cloud {
    position: absolute;
}

.cloud--0 {
    top: 120px;
    left: 80px;
    width: 100px;
}
.cloud--1 {
    bottom: 160px;
    left: 90px;
    z-index: 5;
    width: 80px;
}
.cloud--2 {
    top: 150px;
    right: 80px;
    z-index: 5;
    width: 110px;
}
.cloud--3 {
    bottom: 140px;
    right: 20px;
    width: 110px;
}

/*

    MEDIA QUERIES

*/

@media (max-width: 768px) {
    .technoligies__main {
        flex-direction: column;
    }
    .scroll {
        bottom: 40px;
    }
    .title {
        font-size: 80px;
    }
    .header__para {
        font-size: 20px;
    }
    .aboutme__wrapper {
        flex-direction: column;
        text-align: center;
    }
    .section__title--wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .technoligies__language--img {
        width: 60px;
    }
    .contact__form--wrapper {
        align-items: center;
        flex-direction: column;
    }
    #contact__form {
        width: 100%;
    }
    .contact__form--image {
        width: 100%;
    }
    .banner {
        height: 50vh;
    }
    
    .cloud--0 {
        top: 60px;
        left: 80px;
        width: 100px;
    }
    .cloud--1 {
        bottom: 80px;
        left: 90px;
        z-index: 5;
        width: 80px;
    }
    .cloud--2 {
        top: 60px;
        right: 80px;
        z-index: 5;
        width: 110px;
    }
    .cloud--3 {
        bottom: 100px;
        right: 20px;
        width: 110px;
    }
}

@media (max-width: 480px) {
    .section__title {
        font-size: 40px;
    }
    .title {
        font-size: 42px;
    }
    .header__para {
        font-size: 16px;
    }
    .nav__link:first-child {
        display: none;
    }
    .banner {
        height: 40vh;
        width: 300px;
    }
    .scroll {
        bottom: 35px;
    }
    .project {
        width: 100%;
    }
    .contact {
        padding: 40px;
    }
    
    .cloud--0 {
        top: 60px;
        left: 40px;
        width: 80px;
    }
    .cloud--1 {
        bottom: 80px;
        left: 90px;
        z-index: 5;
        width: 60px;
    }
    .cloud--2 {
        top: 60px;
        right: 40px;
        z-index: 5;
        width: 90px;
    }
    .cloud--3 {
        bottom: 100px;
        right: 20px;
        width: 90px;
    }
}

@media (max-height:800px) {
    .cloud--0 {
        top: 60px;
    }
    .cloud--1 {
        bottom: 80px;
    }
    .cloud--2 {
        top: 80px;
    }
    .cloud--3 {
        bottom: 100px;
    }
}